<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrate</title>
    <link rel="stylesheet" href="../static/css/admin.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../static/res/pc_icon3.svg">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="module" src="../static/js/admin.js"></script>
</head>
<body>
    <div id="template">
        <div id="header">
            <div id="logo">
                <img id="logoPic" src="../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn">Welcome [[${#httpServletRequest.remoteUser}]]!</span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button id="menuBtVr" onclick="redir('/')">Home</button>
                </div>
                <div id="menuRg"></div>
            </div>
        </div>
        <div id="content">
            <div id="cntHdr">
                <span>Database Administration</span>
                <div id="cntHdrBts">
                    <button id="dbCtSw" onclick="onSwitchClick()">components</button>
                    <button id="dbCtSl" onclick="onSelectClick()">Select</button>
                    <button id="dbCtDd" onclick="onInsertClick()">Insert</button>
                </div>
            </div>
            <div class="dbs">
                <div class="dbLs">
                    <div class="dbItm dbItmHdr">
                        <div class="dbCts">
                            <button class="dbCtUp">components</button>
                        </div>
                        <div class="dbRw1 dbRw">
                            <span class="dbItm1Id">id</span>
                            <span class="dbItm1Tp">type</span>
                            <span class="dbItm1Nm">name</span>
                            <span class="dbItm1Ds">descr</span>
                            <span class="dbItm1Cs">cost</span>
                            <span class="dbItm1Im">img</span>
                        </div>
                    </div>
                    <div class="dbItm" th:each="component: ${components}" th:with="cid = ${component['id']}">
                        <div class="dbCts">
                            <button
                                class="dbCtUp"
                                th:onclick="onUpdateClick([[${cid}]], false)">
                                    Update
                            </button>
                            <button
                                class="dbCtDl"
                                th:onclick="onDeleteClick([[${cid}]], false)">
                                    Delete
                            </button>
                        </div>
                        <div class="dbRw1 dbRw">
                            <span class="dbItm1Id" th:text="${cid}">id</span>
                            <span class="dbItm1Tp" th:text="${component['type']}">type</span>
                            <span class="dbItm1Nm" th:text="${component['name']}">name</span>
                            <span class="dbItm1Ds" th:text="${component['description']}">descr</span>
                            <span class="dbItm1Cs" th:text="${component['cost']}">cost</span>
                            <span class="dbItm1Im" th:text="${component['image']}">img</span>
                        </div>
                    </div>
                </div>
                <div class="dbLs">
                    <div class="dbItm dbItmHdr">
                        <div class="dbCts">
                            <button class="dbCtUp">users</button>
                        </div>
                        <div class="dbRw2 dbRw">
                            <span class="dbItm2Id">id</span>
                            <span class="dbItm2Lg">name</span>
                            <span class="dbItm2Rl">role</span>
                            <span class="dbItm2Ps">pas</span>
                        </div>
                    </div>
                    <div class="dbItm" th:each="user: ${users}" th:with="uid = ${user['id']}">
                        <div class="dbCts">
                            <button
                                class="dbCtUp"
                                th:onclick="onUpdateClick([[${uid}]], true)">
                                    Update
                            </button>
                            <button
                                class="dbCtDl"
                                th:onclick="onDeleteClick([[${uid}]], true)">
                                    Delete
                            </button>
                        </div>
                        <div class="dbRw2 dbRw">
                            <span class="dbItm2Id" th:text="${uid}">id</span>
                            <span class="dbItm2Lg" th:text="${user['name']}">name</span>
                            <span class="dbItm2Rl" th:text="${user['role']}">role</span>
                            <span class="dbItm2Ps" th:text="${user['password']}">pas</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cntFtr"></div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>

    <div id="act1" class="act">
        <div class="actHdr">
            <span class="actNm">Action</span>
            <button class="actExt" onclick="orc(false)">Exit</button>
        </div>
        <div class="actMn">
            <input class="actMnInp" placeholder="Id"/>          <!--0-->
            <input class="actMnInp" placeholder="Type"/>        <!--1-->
            <input class="actMnInp" placeholder="Name"/>        <!--2-->
            <input class="actMnInp" placeholder="Description"/> <!--3-->
            <input class="actMnInp" placeholder="Cost"/>        <!--4-->
            <input class="actMnInp" placeholder="Image"/>       <!--5-->
        </div>
        <div class="actFtr">
            <button class="actFtBt" onclick="act(false)">Action</button>
        </div>
    </div>
    <div id="act2" class="act">
        <div class="actHdr">
            <span class="actNm">Action</span>
            <button class="actExt" onclick="orc(true)">Exit</button>
        </div>
        <div class="actMn">
            <input class="actMnInp" placeholder="Id"/>       <!--0-->
            <input class="actMnInp" placeholder="Name"/>     <!--1-->
            <input class="actMnInp" placeholder="Role"/>     <!--2-->
            <input class="actMnInp" placeholder="Password"/> <!--3-->
        </div>
        <div class="actFtr">
            <button class="actFtBt" onclick="act(true)">Action</button>
        </div>
    </div>

    <div id="overlay"></div>
</body>
</html>
