<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrate</title>
    <link rel="stylesheet" href="../css/admn.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../../static/res/pc_icon3.svg">
</head>
<body>
    <div id="template">
        <div id="header">
            <div id="logo">
                <img id="logoPic" src="../../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn">Welcome [[${#httpServletRequest.remoteUser}]]!</span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button id="menuBtVr" onclick="window.location.replace('/')">Home</button>
                </div>
                <div id="menuRg">
                    <button id="menuBtLog" onclick="logOut()">Log Out</button>
                    <script>
                        function logOut() {
                            let rq = new XMLHttpRequest()
                            rq.onreadystatechange = () => {
                                if (rq.readyState === 4 && rq.status === 200)
                                    window.location.replace('/')
                            }
                            rq.open('POST', '/lgo')
                            rq.send(null)
                        }
                    </script>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="cntHdr">
                <span>Database Administration</span>
                <div id="cntHdrBts">
                    <button id="dbCtSw" onclick="onSwitchClick()">Table</button>
                    <button id="dbCtSl" onclick="onSelectClick()">Select</button>
                    <button id="dbCtDd" onclick="onInsertClick()">Insert</button>
                </div>
            </div>
            <div class="dbs">
                <div class="dbLs" th:each="component: ${components}">
                    <div class="dbItm dbItmHdr">
                        <div class="dbCts">
                            <button class="dbCtUp">Table</button>
                        </div>
                        <div class="dbRw1 dbRw">
                            <span class="dbItm1Id">id</span>
                            <span class="dbItm1Tp">type</span>
                            <span class="dbItm1Nm">name</span>
                            <span class="dbItm1Ds">descr</span>
                            <span class="dbItm1Cs">cost</span>
                            <span class="dbItm1Im">img</span>
                        </div>
                    </div>
                    <div class="dbItm" th:with="cid = ${component['id']}">
                        <div class="dbCts">
                            <button
                                class="dbCtUp"
                                th:onclick="onUpdateClick([[${cid}]], false)">
                                    Update
                            </button>
                            <button
                                class="dbCtDl"
                                th:onclick="onDeleteClick([[${cid}]], false)">
                                    Delete
                            </button>
                        </div>
                        <div class="dbRw1 dbRw">
                            <span class="dbItm1Id" th:text="${cid}">id</span>
                            <span class="dbItm1Tp" th:text="${component['type']}">type</span>
                            <span class="dbItm1Nm" th:text="${component['name']}">name</span>
                            <span class="dbItm1Ds" th:text="${component['description']}">descr</span>
                            <span class="dbItm1Cs" th:text="${component['cost']}">cost</span>
                            <span class="dbItm1Im" th:text="${component['image']}">img</span>
                        </div>
                    </div>
                </div>
                <div class="dbLs" th:each="user: ${users}">
                    <div class="dbItm dbItmHdr">
                        <div class="dbCts">
                            <button class="dbCtUp">Table</button>
                        </div>
                        <div class="dbRw2 dbRw">
                            <span class="dbItm2Id">id</span>
                            <span class="dbItm2Lg">name</span>
                            <span class="dbItm2Rl">role</span>
                            <span class="dbItm2Ps">pas</span>
                        </div>
                    </div>
                    <div class="dbItm" th:with="uid = ${user['id']}">
                        <div class="dbCts">
                            <button
                                class="dbCtUp"
                                th:onclick="onUpdateClick([[${uid}]], true)">
                                    Update
                            </button>
                            <button
                                class="dbCtDl"
                                th:onclick="onDeleteClick([[${uid}]], true)">
                                    Delete
                            </button>
                        </div>
                        <div class="dbRw2 dbRw">
                            <span class="dbItm2Id" th:text="${uid}">id</span>
                            <span class="dbItm2Lg" th:text="${user['name']}">name</span>
                            <span class="dbItm2Rl" th:text="${user['role']}">role</span>
                            <span class="dbItm2Ps" th:text="${user['password']}">pas</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cntFtr"></div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>

    <div id="act1" class="act">
        <div class="actHdr">
            <span class="actNm">Action</span>
            <button class="actExt" onclick="cls(false)">Exit</button>
        </div>
        <div class="actMn">
            <input class="actMnInp" placeholder="Id"/>          <!--0-->
            <input class="actMnInp" placeholder="Type"/>        <!--1-->
            <input class="actMnInp" placeholder="Name"/>        <!--2-->
            <input class="actMnInp" placeholder="Description"/> <!--3-->
            <input class="actMnInp" placeholder="Cost"/>        <!--4-->
            <input class="actMnInp" placeholder="Image"/>       <!--5-->
        </div>
        <div class="actFtr">
            <button class="actFtBt" onclick="act(false)">Action</button>
        </div>
    </div>
    <div id="act2" class="act">
        <div class="actHdr">
            <span class="actNm">Action</span>
            <button class="actExt" onclick="cls(true)">Exit</button>
        </div>
        <div class="actMn">
            <input class="actMnInp" placeholder="Id"/>       <!--0-->
            <input class="actMnInp" placeholder="Name"/>     <!--1-->
            <input class="actMnInp" placeholder="Role"/>     <!--2-->
            <input class="actMnInp" placeholder="Password"/> <!--3-->
        </div>
        <div class="actFtr">
            <button class="actFtBt" onclick="act(true)">Action</button>
        </div>
    </div>

    <div id="overlay"></div>

    <script>
        const act1 = elem('act1'),
            act2 = elem('act2'),
            ovrl = elem('overlay'),
            flx = 'flex',
            nn = 'none',
            nt = 'initial',
            gt = 'GET',
            pt = 'POST',
            flds1 = act1.querySelectorAll('input, textarea'),
            flds2 = act2.querySelectorAll('input, textarea'),
            swt = elem('dbCtSw')

        let act1Sh = false, act2Sh = false, curId = -1, swtch = false, mode = 0

        function cls(isUsr) { if (isUsr) {
            act1Sh = !act1Sh
            act1.style.display = act1Sh ? flx : nn
            ovrl.style.display = act1Sh ? nt : nn
        } else {
            act2Sh = !act2Sh
            act2.style.display = act2Sh ? flx : nn
            ovrl.style.display = act2Sh ? nt : nn
        } }

        function onSwitchClick() {
            swtch = !swtch
            swt.style.backgroundColor = !swtch ? 'darkslategrey' : 'gray'
            swt.textContent = !swtch ? 'components' : 'users'
        }

        function onSelectClick() {
            act1Sh = !act1Sh
            act1.style.display = act1Sh ? flx : nn
            ovrl.style.display = act1Sh ? nt : nn
            mode = 0
        }

        function onInsertClick() {
            act1Sh = !act1Sh
            act1.style.display = act1Sh ? flx : nn
            ovrl.style.display = act1Sh ? nt : nn
            mode = 1
        }

        // noinspection JSUnusedGlobalSymbols
        function onUpdateClick(id, isUsr) { request(
            gt, `/${!isUsr ? 'cmp' : 'usr'}?id=${id}`, jsn =>
            {
                if (!isUsr) {
                    act1Sh = !act1Sh
                    act1.style.display = act1Sh ? flx : nn
                    ovrl.style.display = act1Sh ? nt : nn

                    flds1[0].value = jsn.id
                    flds1[1].value = jsn.type
                    flds1[2].value = jsn.name
                    flds1[3].value = jsn.description
                    flds1[4].value = jsn.cost
                    flds1[5].value = jsn.image
                } else {
                    act2Sh = !act2Sh
                    act2.style.display = act2Sh ? flx : nn
                    ovrl.style.display = act2Sh ? nt : nn

                    flds2[0].value = jsn.id
                    flds2[1].value = jsn.name
                    flds2[2].value = jsn.role
                    flds2[3].value = jsn.password
                }
                curId = parseInt(jsn.id)
                mode = 2
            }) }

        function act(isUsr) {
            const a = curId === -1
            const jsn = !isUsr ? {
                id: !a ? parseInt(flds1[0].value) : null,
                type: flds1[1].value,
                name: flds1[2].value,
                description: flds1[3].value,
                cost: flds1[4].value,
                image: flds1[5].value
            } : {
                id: !a ? parseInt(flds2[0].value) : null,
                name: flds2[1].value,
                role: flds2[2].value,
                password: flds2[3].value
            }
            request(pt, '/iou', rld, JSON.stringify(jsn))
        }

        // noinspection JSUnusedGlobalSymbols
        function onDeleteClick(id, isUsr) { request(
            pt, `/rmv?entity=${!isUsr}&id=${id}`, rld
        ) }

        function request(method, path, callback, payload = null) {
            let rq = new XMLHttpRequest()
            rq.onreadystatechange = () => {
                if (rq.readyState === 4 && rq.status === 200)
                    method === gt ? callback(JSON.parse(rq.response)) : callback()
            }
            rq.open(method, path)
            rq.send(payload)
        }

        function elem(id) { return document.getElementById(id) }
        function rld() { window.location.reload() }
    </script>
</body>
</html>
