<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrate</title>
    <link rel="stylesheet" href="../css/admn.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../../static/res/pc_icon3.svg">
    <script type="module" src="../js/admn.js"></script>
</head>
<body>
    <div id="template">
        <div id="header">
            <div id="logo">
                <img id="logoPic" src="../../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn">Welcome [[${#httpServletRequest.remoteUser}]]!</span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button id="menuBtVr" onclick="window.location.replace('/')">Home</button>
                </div>
                <div id="menuRg">
                    <button id="menuBtLog" onclick="logOut()">Log Out</button>
                    <script>
                        function logOut() {
                            let rq = new XMLHttpRequest()
                            rq.onreadystatechange = () => {
                                if (rq.readyState === 4 && rq.status === 200)
                                    window.location.replace('/')
                            }
                            rq.open('POST', '/lgo')
                            rq.send(null)
                        }
                    </script>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="cntHdr">
                <span>Database Administration</span>
                <div id="cntHdrBts">
                    <button id="dbCtSw">Table</button>
                    <button id="dbCtSl">Select</button>
                    <button id="dbCtDd">Insert</button>
                </div>
            </div>
            <div class="dbs">
                <div class="dbLs" th:each="component: ${components}">
                    <div class="dbItm dbItmHdr">
                        <div class="dbCts">
                            <button class="dbCtUp">Update</button>
                            <button class="dbCtDl">Delete</button>
                        </div>
                        <div class="dbRw1 dbRw">
                            <span class="dbItm1Id">id</span>
                            <span class="dbItm1Tp">type</span>
                            <span class="dbItm1Nm">name</span>
                            <span class="dbItm1Ds">descr</span>
                            <span class="dbItm1Cs">cost</span>
                            <span class="dbItm1Im">img</span>
                        </div>
                    </div>
                    <div class="dbItm">
                        <div class="dbCts">
                            <button class="dbCtUp">Update</button>
                            <button class="dbCtDl">Delete</button>
                        </div>
                        <div class="dbRw1 dbRw">
                            <span class="dbItm1Id" th:text="${component['id']}">id</span>
                            <span class="dbItm1Tp" th:text="${component['type']}">type</span>
                            <span class="dbItm1Nm" th:text="${component['name']}">name</span>
                            <span class="dbItm1Ds" th:text="${component['description']}">descr</span>
                            <span class="dbItm1Cs" th:text="${component['cost']}">cost</span>
                            <span class="dbItm1Im" th:text="${component['image']}">img</span>
                        </div>
                    </div>
                </div>
                <div class="dbLs" th:each="user: ${users}">
                    <div class="dbItm dbItmHdr">
                        <div class="dbCts">
                            <button class="dbCtUp">Update</button>
                            <button class="dbCtDl">Delete</button>
                        </div>
                        <div class="dbRw2 dbRw">
                            <span class="dbItm2Id">id</span>
                            <span class="dbItm2Lg">name</span>
                            <span class="dbItm2Rl">role</span>
                            <span class="dbItm2Ps">pas</span>
                        </div>
                    </div>
                    <div class="dbItm">
                        <div class="dbCts">
                            <button class="dbCtUp">Update</button>
                            <button class="dbCtDl">Delete</button>
                        </div>
                        <div class="dbRw2 dbRw">
                            <span class="dbItm2Id" th:text="${user['id']}">id</span>
                            <span class="dbItm2Lg" th:text="${user['name']}">name</span>
                            <span class="dbItm2Rl" th:text="${user['role']}">role</span>
                            <span class="dbItm2Ps" th:text="${user['password']}">pas</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cntFtr"></div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>

    <div id="act">
        <div id="actHdr">
            <span id="actNm">Action</span>
            <button id="actExt">Exit</button>
        </div>
        <div id="actMn">
            <input id="actMnInp"/>
        </div>
        <div id="actFtr">
            <button id="actFtBt">Action</button>
        </div>
    </div>

    <div id="overlay"></div>
</body>
</html>