<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse Components</title>
    <link rel="stylesheet" href="../static/css/browse.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../static/res/pc_icon3.svg">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="module" src="../static/js/browse.js"></script>
</head>
<body>
    <div id="template">
        <div id="header">
            <div id="logo">
                <img id="logoPic" src="../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn">
                    Build your own PC with PC Configurator online and free!
                    Choose any components you like and we will do the rest!
                </span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button id="menuBtVr" onclick="redir('/')">Home</button>
                    <button id="menuBtAbt" onclick="redir('/abt')">About</button>
                </div>
                <div id="menuRg">
                    <button id="menuBtLog" onclick="redir('/lgn')">Log In</button>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="cntHdr">
                <span>PC Components <span th:text="${type}"></span> Selection</span>
            </div>
            <div id="cmpSlc">
                <div id="cmpSlcLst" th:if="${not #lists.isEmpty(items)}" th:each="item: ${items}">
                    <div id="cmpSlcItm" th:onclick="onItemClick([[${item['id']}]])">
                        <img id="cmpSlcItmImg" th:src="${item['image']}">
                        <span id="cmpSlcItmNm" th:text="${item['name']}">Case</span>
                        <span id="cmpSlcItmCst" th:text="${item['cost']}">Cost</span>
                    </div>
                </div>
                <div id="cmpSlcLst" th:if="${#lists.isEmpty(items)}">
                    <div id="cmpSlcItm" style="justify-content: center">
                        <span id="cmpSlcItmNm">Empty</span>
                    </div>
                </div>
                <div id="cmpSlcFtr">
                    <button style="visibility: hidden">STUB</button>
                </div>
            </div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>

    <div id="cpLstBfr">
        <span id="cmpLstNm"></span>
    </div>

    <div id="cmpVw">
        <div id="cmpVwHdr">
            <span id="cmpVwNm">Component</span>
            <button id="cmpVwExt">Exit</button>
        </div>
        <div id="cmpVwMn">
            <img id="cmpVwPic">
            <span id="cmpVwDsc">Description</span>
        </div>
        <div id="cmpVwFtr">
            <button id="cmpVwFtBt">Select</button>
        </div>
    </div>

    <div id="overlay"></div>
</body>
</html>
