<!DOCTYPE html>
<!--suppress XmlDuplicatedId, HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC Configurator</title>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../static/res/pc_icon3.svg">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="module" src="../static/js/index.js"></script>
</head>
<body>
    <div id="template">
        <div id="header" th:with="user = ${#httpServletRequest.remoteUser}">
            <div id="logo">
                <img id="logoPic" src="../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn" th:if="${user == null}">
                    Build your own PC with PC Configurator online and free!
                    Choose any components you like and we will do the rest!
                </span>
                <span id="slgn" th:if="${user != null}">Welcome [[${user}]]!</span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button
                        id="menuBtAbt"
                        th:if="${user == null or #httpServletRequest.isUserInRole('role0')}"
                        onclick="redir('/abt')">
                            About
                    </button>
                    <button
                        id="menuBtAbt"
                        th:if="${#httpServletRequest.isUserInRole('role1')}"
                        onclick="redir('/adm')">
                            Administrate
                    </button>
                </div>
                <div id="menuRg">
                    <button
                        id="menuBtLog"
                        th:if="${user == null}"
                        onclick="redir('/lgn')">
                            Log In
                    </button>
                    <button
                        id="menuBtLog"
                        th:if="${user != null}"
                        onclick="logOut()">
                            Log Out
                    </button>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="ovrwHdr">
                <span>PC Components List</span>
            </div>
            <div id="overview" th:each="item: ${items}">
                <div id="ovrwItm" th:onclick="window.location.replace([[${item['on_click']}]])">
                    <img id="ovrwItmFlg" th:src="${item['image']}">
                    <div id="ovrwItmTxt">
                        <div id="ovrwItmHdTx">
                            <span id="ovrwItmNm" th:text="${item['name']}">Item title</span>
                            <span id="ovrwitmCst" th:text="${item['cost']}">$0</span>
                        </div>
                        <span id="ovrwItmDtls" th:text="${item['type']}">Not selected</span>
                        <span id="ovrwItmDsc" th:text="${item['description']}">Not selected</span>
                    </div>
                </div>
            </div>
            <div id="cntFtr">
                <span id="componentCst" th:text="${total}"></span>
                <button id="clrOvrw" onclick="onClear()">Clear Selection</button>
                <button
                    id="sbtOvrw"
                    th:onclick="opn(true,
                            ${#httpServletRequest.isUserInRole('role0')})">
                        Submit order
                </button>
            </div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>

    <div id="sbt">
        <div id="sbtHdr">
            <span id="sbtNm">Submit order</span>
            <button id="sbtExt">Exit</button>
        </div>
        <div id="sbtMn">
            <input id="fnm" placeholder="First name" type="text" name="fnm" required>
            <input id="lnm" placeholder="Last name" type="text" name="lnm" required>
            <input id="phn" placeholder="phone number" type="number" name="phn" required>
            <input id="adr" placeholder="Address" type="text" name="adr" required>
        </div>
        <div id="sbtFtr">
            <button id="sbtTtl" class="txbt">Total</button>
            <button id="sbtErr" class="txbt">An error has been occurred</button>
            <button id="sbtOrd" onclick="order()">Order</button>
        </div>
    </div>

    <div id="overlay"></div>
    <span id="clb">STUB</span>
</body>
</html>