<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC Configurator</title>
    <link rel="stylesheet" href="../../static/css/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../../static/res/pc_icon3.svg">
</head>
<body>
    <div id="template">
        <div id="header">
            <div id="logo">
                <img id="logoPic" src="../../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2021</span>
                <span id="slgn">
                    Build your own PC with PC Configurator online and free!
                    Choose any components you like and we will do the rest!
                </span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button id="menuBtVr">Browse</button>
                    <button id="menuBtAbt">About</button>
                </div>
                <div id="menuRg">
                    <button id="menuBtLog">Log In</button>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="ovrwHdr">
                <span>PC Components List</span>
            </div>
            <div id="overview">
                <div id="ovrwItm">
                    <img id="ovrwItmFlg" src="">
                    <div id="ovrwItmTxt">
                        <div id="ovrwItmHdTx">
                            <span id="ovrwItmNm">Item title</span>
                            <span id="ovrwitmCst">$0</span>
                        </div>
                        <span id="ovrwItmDtls">Not selected</span>
                        <span id="ovrwItmDsc">Not Selected</span>
                    </div>
                </div>
            </div>
            <div id="cntFtr">
                <span id="componentCst">$0</span>
                <button id="clrOvrw">Clear Selection</button>
            </div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2021 | All Rights Reserved.</span>
        </div>
    </div>
</body>
</html>