<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC Configurator</title>
    <link rel="stylesheet" href="../../static/css/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../../static/res/pc_icon3.svg">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <div id="template">
        <div id="header" th:with="user = ${#httpServletRequest.remoteUser}">
            <div id="logo">
                <img id="logoPic" src="../../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn" th:if="${user == null}">
                    Build your own PC with PC Configurator online and free!
                    Choose any components you like and we will do the rest!
                </span>
                <span id="slgn" th:if="${user != null}">Welcome [[${user}]]!</span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button
                        id="menuBtAbt"
                        th:if="${user == null or #httpServletRequest.isUserInRole('role0')}"
                        onclick="window.location.replace('/abt')">
                            About
                    </button>
                    <button
                        id="menuBtAbt"
                        th:if="${#httpServletRequest.isUserInRole('role1')}"
                        onclick="window.location.replace('/adm')">
                            Administrate
                    </button>
                </div>
                <div id="menuRg">
                    <button
                        id="menuBtLog"
                        th:if="${user == null}"
                        onclick="window.location.replace('/lgn')">
                            Log In
                    </button>
                    <button
                        id="menuBtLog"
                        th:if="${user != null}"
                        onclick="logOut()">
                            Log Out
                    </button>
                    <script type="module" th:if="${user != null}">
                        import * as I from '../static/js/index.js'
                        window.logOut = I.logOut
                    </script>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="ovrwHdr">
                <span>PC Components List</span>
            </div>
            <div id="overview" th:each="item: ${items}">
                <div id="ovrwItm" th:onclick="window.location.replace([[${item['on_click']}]])">
                    <img id="ovrwItmFlg" th:src="${item['image']}">
                    <div id="ovrwItmTxt">
                        <div id="ovrwItmHdTx">
                            <span id="ovrwItmNm" th:text="${item['name']}">Item title</span>
                            <span id="ovrwitmCst" th:text="${item['cost']}">$0</span>
                        </div>
                        <span id="ovrwItmDtls" th:text="${item['type']}">Not selected</span>
                        <span id="ovrwItmDsc" th:text="${item['description']}">Not selected</span>
                    </div>
                </div>
            </div>
            <div id="cntFtr">
                <span id="componentCst" th:text="${total}"></span>
                <button id="clrOvrw" onclick="onClear()">Clear Selection</button>
                <script type="module">
                    import * as I from '../static/js/index.js'
                    window.onClear = I.onClear
                </script>
            </div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>
</body>
</html>