<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="../../static/css/login.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../../static/res/pc_icon3.svg">
</head>
<body>
    <div id="template">
        <div id="header">
            <div id="logo">
                <img id="logoPic" src="../../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn">
                    Build your own PC with PC Configurator online and free!
                    Choose any components you like and we will do the rest!
                </span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button id="menuBtVr" onclick="window.location.replace('/')">Home</button>
                    <button id="menuBtAbt" onclick="window.location.replace('/abt')">About</button>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="cntHdr">
                <span>Login Panel</span>
            </div>
            <form th:action="@{/lgn}" method="post">
                <input id="lgn" placeholder="Login" type="text" name="name" required>
                <input id="pas" placeholder="Password" type="password" name="password" required>
                <div id="bts">
                    <button id="sbmt" type="submit">Authorize</button>
                    <button id="clr" type="reset">Clear</button>
                </div>
            </form>
            <div id="cntFtr" th:style="${param.error} ? 'background-color: red'">
                <span th:if="${param.error}" class="spFtr">Wrong username or password</span>
                <span th:if="${param.logout}" class="spFtr">You've been logged out</span>
                <span th:unless="${param.error} or ${param.logout}" class="spFtr" style="visibility: hidden">STUB</span>
            </div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>
</body>
</html>