<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/css/login.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../../static/res/pc_icon3.svg">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="module" src="../static/js/register.js"></script>
</head>
<body>
    <div id="template">
        <div id="header">
            <div id="logo">
                <img id="logoPic" src="../../static/res/pc_icon3.svg">
                <span id="logoNm">PC CONFIGURATOR</span>
                <span id="logoSubNm">Since 2022</span>
                <span id="slgn">
                    Build your own PC with PC Configurator online and free!
                    Choose any components you like and we will do the rest!
                </span>
            </div>
            <div id="menu">
                <div id="menuLf">
                    <button id="menuBtVr" onclick="redir('/')">Home</button>
                    <button id="menuBtAbt" onclick="redir('/abt')">About</button>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="cntHdr">
                <span>Registration Panel</span>
            </div>
            <form th:action="@{/rgs}" method="post">
                <input id="lgn" placeholder="Login" type="text" name="name" required>
                <input id="pas" placeholder="Password" type="password" name="password" required>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div id="bts">
                    <button id="sbmt" type="submit">Register</button>
                    <button id="clr" type="reset">Clear</button>
                </div>
            </form>
            <div id="cntFtr">
                <span class="spFtr" style="visibility: hidden">An error has been occurred</span>
            </div>
        </div>
        <div id="footer">
            <span>Copyright &#169; 2022 | All Rights Reserved.</span>
        </div>
    </div>
</body>
</html>