<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
    <link rel="stylesheet" href="../static/css/submit.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="../static/res/pc_icon3.svg">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="module" src="../static/js/submit.js"></script>
</head>
<body>
<div id="template">
    <div id="header">
        <div id="logo">
            <img id="logoPic" src="../static/res/pc_icon3.svg">
            <span id="logoNm">PC CONFIGURATOR</span>
            <span id="logoSubNm">Since 2022</span>
            <span id="slgn">
                    Build your own PC with PC Configurator online and free!
                    Choose any components you like and we will do the rest!
                </span>
        </div>
        <div id="menu">
            <div id="menuLf">
                <button id="menuBtVr" onclick="redir('/')">Home</button>
            </div>
        </div>
    </div>
    <div id="content">
        <div id="cntHdr">
            <span>Login Panel</span>
        </div>
        <div id="slct" th:each="item: ${items}">
            <div class="slctItm">
                <img class="slctItmImg" th:src="${item['image']}">
                <span class="slctitmNm" th:text="${item['name']}">STUB</span>
                <span class="slctitmCst" th:text="${item['cost']}">STUB</span>
            </div>
        </div>
        <input id="fnm" placeholder="First name" type="text" name="fnm" required>
        <input id="lnm" placeholder="Last name" type="text" name="lnm" required>
        <input id="phn" placeholder="phone number" type="number" name="phn" required>
        <input id="adr" placeholder="Address" type="text" name="adr" required>
        <div id="cntFtr">
            <button id="ttl">Total</button>
            <button id="ord">Order</button>
        </div>
    </div>
    <div id="footer">
        <span>Copyright &#169; 2022 | All Rights Reserved.</span>
    </div>
</div>
</body>
</html>